/* ==========================================
   STORY
   Mobile First
========================================== */

#storySection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-align: center;
}


.storyContainer {
    width: 100%;
    max-width: 500px;
}


#storyText {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.7;
    min-height: 180px;
    opacity: 0;
}


.storyLine {
    opacity: 0;
    transform: translateY(25px);
    animation: storyFade .9s forwards;
}



@keyframes storyFade {

    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* ===========================
   Tablet
=========================== */

@media(min-width:768px) {

    #storyText {
        font-size: 42px;
    }
}



/* ===========================
   Desktop
=========================== */

@media(min-width:1200px) {

    #storyText {
        font-size: 52px;
    }
}
